<section id="wrapper">

    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, class: 'form-horizontal '}) do |f| %>
    <%= devise_error_messages! %>
    <!--
    <fieldset>
      <legend>Communication</legend>
      <%= link_to "HackRU Feed", feed_path, class: 'registerBtn2 registerBtn-1' %>
      <%= link_to 'Friends', user_friendships_path, class: 'registerBtn2 registerBtn-1' %>
      <%= link_to 'Albums', albums_path(current_user), class: 'registerBtn2 registerBtn-1' %>
    </fieldset>
    -->
    <h1 class="form_head">Edit My Profile</h1>
    <% if current_user.id <= 1000 %>
    <fieldset>
    <legend>Confirm My Spot</legend>
    <h2 style="font-size: 1.8em;color:#de0000;">In order to get your ticket to HackRU, fill in the checkbox below, confirm changes at the bottom and hit Update.<br>You will receive an email shortly with your ticket number and more information about HackRU.</h2>
    <center> <%= f.input :registered, :as => :boolean, inline_label: "Yes, I'm going to HackRU!", input_html:{
                  style: 'width: 20px; height: 20px; border-radius: 20px; margin: 15px; margin-top: 5px;'} %> </center>
    </fieldset>
    <% end %>

    <fieldset>
      <legend>Profile Avatar</legend>
      <%= bootstrap_paperclip_picture f, :avatar %>
      <hr/>
      <%= f.input :avatar, as: :file, input_html: {id: "upfile"} %>
    </fieldset>
    <fieldset>
      <legend>Resume</legend>
      <%= f.input :resume, as: :file, input_html: {id: "upfile"}  %>
      <%= user_resume_link @user%>
      <hr/>
    </fieldset>
    <fieldset>
      <legend>About Me</legend>
      <%= f.input :first_name, input_html: { class: 'form-input', id: "name"} %>
      <%= f.input :last_name, input_html: { class: 'form-input', id: "name"} %>
      <%= f.input :school_name, input_html: { class: 'form-input', id:"school"} %>
      <%= f.input :school_year, input_html: { class: 'form-input',id:"school" }, :collection => ['Freshman', 'Sophomore', 'Junior', 'Senior', 'Recent Graduate']%>
      <%= f.input :email, input_html: { class: 'form-input', id:"email"} %>
      <%= f.input :tshirt_size, input_html: { class: 'form-input',id:"name" }, :collection => ['Men\'s Small','Men\'s Medium','Men\'s Large', 'Men\'s XL', 'Women\'s Small', 'Women\'s Medium', 'Women\'s Large', 'Women\'s XL']%>
      <%= f.input :diet, input_html: { class: 'form-input', id:"diet"}, :collection => ['No', 'Vegetarian', 'Kosher', 'Other'] %>
      <%= f.input :special_needs, input_html: { class: 'form-input',id:"name"}%>
      <%= f.input :git_account, input_html: { class: 'form-input', id:"github"} %>
    </fieldset>



    <fieldset>
      <legend>Update Password</legend>
      <%= f.input :password, input_html: { class: 'form-input', id:"name", placeholder:"Enter your new password", autocomplete: 'off' } %>
      <p class = "red_p">Leave blank if you don't want to change it</p>
      <%= f.input :password_confirmation, input_html: { class: 'form-input', id:"name", placeholder:"Re-Enter your new password", autocomplete: 'off' } %>
    </fieldset>

    <fieldset>
      <legend>Confirm Changes</legend>
      <%= f.input :current_password, input_html: { class: 'form-input', id:"name", placeholder:"Enter your current password", autocomplete: 'off' } %>
      <p class ="red_p">We need your current password to confirm your changes</p>
      <div class="form-actions">
        <%= f.submit "Update", class: 'registerBtn registerBtn-1'%>
        <%= link_to "Back | ", root_path, class: 'btn' %>
        <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'btn btn-danger pull-right' %>
      </div>
    </fieldset>

    <% end %>
  </section>
</div>
