<h1 class="main">
  <%= link_to image_tag("hack_ru_logo.png", :class=> 'banner'), homes_path%>
</h1>
<section class="container">

  <%= link_to "Post a Comment", new_status_path, class:  'registerBtn registerBtn-1' %>
  <br><br>

  <% @statuses.each do |status| %>
  <% if can_display_status?(status) %>
  <fieldset>
    <div class="status media">
      <%= avatar_profile_link status.user, {}, class: 'comment_avatar' %>
      <div class="media-body">
        <h4 class="media-heading"><%= status.user.full_name %></h4>
        <p><%= status.content %></p>
        <%= status_document_link(status) %>
        <div class="meta">
          <%= link_to time_ago_in_words(status.created_at) + " ago", status %> 
          <% if signed_in? && current_user == status.user %>
          <span class="admin">
            | <%= link_to "Edit", edit_status_path(status) %> | 
            <%= link_to "Delete", status, method: :delete, data: { confirm: "Are you sure your want to delete this status?"} %>
          </span>
          <% end %>
        </div>
      </div>
    </div>

    <% end %>
  </fieldset>
  <br><br>
  <% end %>

</section>
