<h1 class="form_head">Change your password</h1>

<fieldset class="small-form">
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div style="line-height: 150%;color: #ed0000;"><%= f.label :password, "New password" %><br />
    <%= f.password_field :password %></div>

  <div style="line-height: 150%;color: #ed0000;"><%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %></div>

  <div class="form-actions">
    <%= f.submit "Change", class: 'registerBtn registerBtn-1' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</fieldset>
