<%= page_header do %>
  <img id="hruLogo" src="/assets/hack_ru_logo.png"/>
  <h1>Forgot your password?</h1>
<% end %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<fieldset>
  <%= devise_error_messages! %>

  <%= f.input :email, label: false, input_html: {  class: 'form-input', id:'email',placeholder: "Email"  } %>
  
  <div class="form-actions">
    <%= f.submit "Reset Password", class: 'registerBtn registerBtn-1' %>
    <h2 class="red_header">You will recieve and email after you submit.</h2>
  </div>
<%= render "devise/shared/links" %>
</fieldset>
<% end %>

