<%= page_header do %>
  <img id="hruBanner" src="assets/hru.png"/>
  <img id="hruLogo" src="assets/hack_ru_logo.png"/>
  <h1>Sign In</h1>
<% end %>

<div id="Sign_In" class="row">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-vertical"}) do |f| %>
		<fieldset>
          <%= devise_error_messages! %>
			<%= f.input :email, label: false, input_html: { class: 'form-input', id:'email',placeholder: "Email" } %>
			<%= f.input :password, label: false, input_html: { class: 'form-input', id:'password',placeholder: "Password" } %>

			<% if devise_mapping.rememberable? %>
			<br>
			<%= f.input :remember_me, as: :boolean, inline_label: "Remember Me", label: false %>
			<% end %>

      <%= f.submit "Sign In", class: 'registerBtn registerBtn-1' %><br />
      <%= render "devise/shared/links" %>
		</fieldset>
		<% end %>
	</div>
	<div class="span8">
	</div>
</div>
