<div id="Sign_In">
	<div>
		<h1 class="form_head">Sign In</h1>
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form-vertical"}) do |f| %>
		<fieldset class="small-form">
			<%= devise_error_messages! %>
			<%= f.input :email, label: false, input_html: { class: 'form-input', id:'email',placeholder: "Email" } %>
			<%= f.input :password, label: false, input_html: { class: 'form-input', id:'password',placeholder: "Password" } %>
			<% if devise_mapping.rememberable? %>
			<br>
			<%= f.input :remember_me, as: :boolean, inline_label: "Remember Me", label: false %>
			<% end %>
			<%= f.submit "Sign In", class: 'registerBtn registerBtn-1' %><br />
			<%= render "devise/shared/links" %>
		</fieldset>
		<% end %>
	</div>
</div>
