<!DOCTYPE html>
<html>
<head>
  <title>HACKRU | Fall 2015</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--NAV BEGIN -->
  <img id = "nav_bg" src = "/assets/hackru_head.svg"/>
  <img id = "nav_bg_mobile" src = "/assets/hackru_head_mobile.svg"/>
  <nav id = "nav">
    <div id = "nav_center">
      <%= link_to image_tag("about.png", :class=> 'nav_text'), homes_path(@home, :anchor => "about")%>
      <%= link_to image_tag("sponsors.png", :class=> 'nav_text'), homes_path(@home, :anchor => "sponsors")%>
      <%= link_to image_tag("faq.png", :class=> 'nav_text'), homes_path(@home, :anchor => "faq")%>
      <%= link_to image_tag("schedule.png", :class=> 'nav_text'), homes_path(@home, :anchor => "schedule")%>
      <%= link_to image_tag("team.png", :class=> 'nav_text'), homes_path(@home, :anchor => "team")%>
      <%= link_to image_tag("map.png", :class=> 'nav_text'), "https://www.google.com/maps/place/Rutgers+College+Avenue+Student+Center/@40.5027331,-74.4520898,15z/data=!4m2!3m1!1s0x0:0x8820e7c83ea74250" , :target => "_blank"%>
    </div>

    <ul id="signup">
      <% if user_signed_in? %>
      <%= link_to "My Profile", edit_user_registration_path, class: 'registerBtn2 registerBtn-1'%>
      <%= link_to "Log Out", logout_path, class: 'registerBtn2 registerBtn-1' %>   
      <% else %>
      <%= link_to "Sign up", register_path, class: 'registerBtn2 registerBtn-1' %>
      <%= link_to "Sign in", login_path, class: 'registerBtn2 registerBtn-1'%>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <%= render_breadcrumbs %>
    <%flash.each do |type, message|%>
    <div class="alert <%= flash_class type %>">
      <button class="close" data-dismiss="alert">x</button>
      <%= message %>
    </div>
    <% end %>
  </div>
  <%= yield %>
  <!--FOOTER BEGIN -->
  <section id="footer">
    <img id="footer_background" src="/assets/hackru_foot.svg">
  </section>
  <!-- FOOTER END -->
</body>
<script id="activities-template" type="text/x-handlebars-template">
<a class="dropdown-toggle" href='#'>Activity Feed({{count}})</a>
<ul class="dropdown-menu">
{{#each activities}}
{{activityLink}}
{{/each}}
<li class="divider"></li>
<li><a href="{{activityFeedLink}}">Activity Feed</a></li>
</ul>
</script>

</html>

