<!DOCTYPE html>
<html>
<head>
  <title>Rutgers Robotics Research</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner" > 
      <div class="container" >
        <img id="brand_logo" src= "/assets/r3_thumb.png"/>
        <%= link_to "Robotics Research", root_path, class: 'brand' %>
        <ul class="nav">
          <li><%= link_to "Articles", feed_path %></li>
          <% if user_signed_in? %>
            <li id="activity-feed"><%= link_to "Activity Feed", activities_path %></li>
          <% end %>
        </ul>
          <ul class="nav pull-right">
            <% if user_signed_in? %>
            <li><%= link_to 'Albums', albums_path(current_user) %></li>
            <li><%= link_to 'Friends', user_friendships_path %></li>
            <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
            <%= link_to "Log Out", logout_path, class: 'btn btn-primary' %>
            <% else %>
            <%= link_to "Sign up", register_path, class: 'btn btn-success' %>
            <%= link_to "Sign in", login_path, class: 'btn btn-primary'%>
              <% end %>
          </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%= render_breadcrumbs %>
    <%flash.each do |type, message|%>
        <div class="alert <%= flash_class type %>">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <% end %>
    <%= yield %>
  </div>
 <footer id="footer">
  <div id = "footerTop">
    <div class="footerDetails">
      <img id="footerImg" src= "/assets/rutgersLogoFooter.png"/>
      <address>
        Rutgers University<br>
        The State University of New Jersey<br>
        New Brunswick, NJ, 08901<br>
      </address>
       <a target="_blank" href="http://www.rutgers.edu/" ><img id="rutgers_logo" src= "/assets/branding_small.png"/></a>
       <a target="_blank" href="https://twitter.com/" ><img id="twitter_logo" src= "/assets/Twitter_logo_white_small.png"/></a>
       <a target="_blank" href="https://www.facebook.com/" ><img id="fb_logo" src= "/assets/FB-f-Logo__blue_72.png"/></a>
      <a target="_blank" href="https://github.com/RutgersRoboticsResearch" ><img id="git_logo" src= "/assets/Octocat_small.png"/></a>
    </div>
  </div>
 </footer>
</body>
<script id="activities-template" type="text/x-handlebars-template">
  <a class="dropdown-toggle" href='#'>Activity Feed({{count}})</a>
  <ul class="dropdown-menu">
    {{#each activities}}
        {{activityLink}}
      {{/each}}
      <li class="divider"></li>
      <li><a href="{{activityFeedLink}}">Activity Feed</a></li>
  </ul>
</script>

</html>